@import "tailwindcss";

:root {
  --background: #faf8fc;
  --foreground: #111827;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-manrope);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope), sans-serif;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}